apiVersion: v1
kind: Pod
metadata:
  name: machine_tokens
  labels:
    app: machine_tokens
spec:
  containers:
    - name: keycloak
      image: quay.io/keycloak/keycloak:latest
      command:
        - /bin/bash
        - -c
      args: 
        - /opt/keycloak/bin/kc.sh start-dev --import-realm
      ports:
        - hostPort: 3000
          containerPort: 8080
      env:
        - name: KEYCLOAK_ADMIN
          value: admin
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: admin
      volumeMounts:
        - mountPath: /opt/keycloak/data/import
          name: realm_import
    - name: vault
      image: docker.io/hashicorp/vault:latest
      ports:
        - hostPort: 8200
          containerPort: 8200
      env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: root
      securityContext:
        capabilities:
          add: ["IPC_LOCK"]
      volumeMounts:
        - mountPath: /{{ vault_init_script }}
          name: init_vault
    - name: mis
      image: {{ mis_image }}
      command:
        - /usr/bin/mis
      args:
        - --port={{ mis_container_port }}
        - --client_id={{ client_id }}
        - --client_secret={{ client_secret }}
        - --username={{ username }}
        - --password={{ password }}
        - --server_url=http://localhost:8080
      ports:
        - hostPort: 8080
          containerPort: {{ mis_container_port }}
          
  volumes:
    - name: realm_import
      hostPath:
        path: {{ realm_import_dir }}
        type: Directory
    - name: init_vault
      hostPath:
        path: {{ vault_init_dir }}/{{ vault_init_script }}
        type: File
